.nav-bar {
    background-color: #FFFFFF;
    color: #61DAFB;


    display: flex;
    flex-direction: row;
    padding: 16px;
    padding-right: 32px;
}

nav.dark {
    background-color: #21222A;
}

.logo {
    width: 80px;
}

nav h1 {
    margin-right: auto;
}

h3 {
    color: white;
    margin: auto 0;
}



.toggler {
    display: flex;
    align-items: center;

    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;

    justify-content: flex-start;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
    justify-content: flex-end;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}